@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
}

@variant dark (&:where(.dark, .dark *));